:root {
  --def-text-color: rgb(24, 23, 23);
  --bg-color: rgb(195, 207, 212);
  --layout-bg-color: rgb(241, 241, 241);
  --entry-container-bg-color: rgb(164, 223, 203);
  --entry-container-bord-color: rgb(146, 189, 174);
}

html {
  min-height: 100vh;
  box-sizing: border-box;
  font-size: 10px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
html {
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
}

* {
  font-family: Helvetica, Arial, sans-serif;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 1rem;
vertical-align: baseline;
  text-decoration: none;
  color: var(--def-text-color)
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}

h1 { font-size: 3rem;}
h2 { font-size: 2rem;}
h3 { font-size: 1.8rem;}
h4 { font-size: 1.5rem;}

a, .nav-links li { transition: all .1s ease-in-out; }

a:hover, .nav-links li:hover { transform: scale(1.05); }
/* 
button {
    padding: .3rem;
    width: fit-content;
    background-color: var(--bg-color);
    border: 1px solid var(--default-text-color);
    border-radius: 3px;
    color: var(--default-text-color);
    font-size: 1rem;
} */

.app {
  margin: 1rem;
  display: flex;
  gap: 2rem;
}

.layout {
  background-color: var(--layout-bg-color);
  padding: 1rem;
  min-width: 40rem;
}

.entry-container {
  padding: 1rem;
  background-color: var(--entry-container-bg-color);
  border-radius: 1rem;
  border: solid 1px var(--entry-container-bord-color);
  min-width: 20rem;
}

.entry-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.info-input {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
}